.signup {
    .container {
        background-color: rgba(129, 168, 218, 0.1);
        border-radius: 10px;

        .image-holder,
        .text-holder {
            width: 50%;
        }

        .image-holder {
            @include breakpoint('md') {
                display: none;
            }
        }
        
        .text-holder {
            padding: 63px;

            @include breakpoint('md') {
                width:100%;
                
            }

            .section-title {
                font-size: 31px;
                margin-bottom: 20px;
                color: $black;
            }

            .text {
                margin-bottom: 40px;
            }

            .input {
                width: 340px;
                padding: 15px 20px;

                @include breakpoint('sm') {
                    width: 250px;
                }
            }
        }
    }
}