.testimonials {
    padding: 70px 0 140px;

    @include breakpoint('md') {
        padding: 40px 0 80px;
    }

    span {
        display: block;
    }

    .section-title {
        text-align: center;
        margin-bottom: 60px;
    }

    .image-holder,
    .text-holder {
        width: 50%;
    }

    .image-holder {
        @include breakpoint('md') {
            display: none;
        }
    }

    .text-holder {
        padding: 0 20px 0 127px;

        @include breakpoint('md') {
            width: 90%;
            margin: 0 auto;
            padding: 0 40px;
        }

        .icon-holder img {
            width: 100px;
            margin-bottom: 30px;
        }
    
        .quote-icon {
            width: 36px;
            margin-bottom: 10px;
        }

        .quote-title {
            font-family: 'Source Serif Pro', serif;
            font-size: 22px;
            line-height: 33px;
            font-weight: 600;
            color: $black;
            margin-bottom: 16px;
        }

        .quote {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 25px;
        }

        .author {
            font-size: 18px;
            font-weight: 500;
            color: $black;
            margin-bottom: 10px;
        }

        .profession {
            font-size: 14px;
            color: rgba(26, 10, 3, 0.8);
        }
    }
}